@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i');

body, html {
	font-family: 'Lato', Arial, sans-serif;
	background:#ddd;
	padding:0;
	margin:0;
}

body {
	padding:2rem;
}

#wrapper {
	max-width:1024px;
	background:#fff;
	border-radius: 1rem;
	padding: 1rem;
	margin:auto;
}

@keyframes flyin {
	from {
		opacity:0.0;
		transform: translateX(50%);
	}
	to {
		opacity:1.0;
		transform: translateX(0%);
	}
}

@keyframes fadein {
	from {
		opacity:0.0;
	}
	to {
		opacity:1.0;
	}
}

@keyframes reminder_bounce {
	0% {
		background-size:90%;
	}
	60% {
		background-size:90%;
	}
	70% {
		background-size: 100%;
	}
	80% {
		background-size:90%;
	}
	90% {
		background-size: 100%;
	}
	100% {
		background-size:90%;
	}

}

h1 {
	margin-top:0;
	font-size: 1.5rem;
	animation: flyin 1s ease-out;
}

video {
	width:100%;
}

@media (min-width:800px) {
	#wrapper {
		width:75%;
	}
}

p:last-child {
	margin-bottom:0;
}

/* Custom Play Icon */
.mejs__overlay-button {
	background-image: url('../img/play-trove.svg');
	background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(0deg) scale (1.0);
    width:150px;
    height:150px;
    margin: -75px 0 0 -75px;
    opacity:0.5;
    animation: reminder_bounce 4s infinite;
}

.mejs__overlay:hover > .mejs__overlay-button {
	background-position: center;
	opacity:1.0;
	transform: rotate(360deg) scale(1.4);
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}